* {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-wrap: wrap;
    background-color: #1F2937;
    color: #f9faf8;
    width: 100%;
    border: 2px solid chartreuse;
    /* padding: 8px; */
    justify-content: center;
    
    
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid salmon;
    /* min-width: 70%; */
    /* flex-grow: 0; */
    /* margin: 0 30px; */
    flex: 0 0 70%;
}

.logo {
    font-size: 24px;
    font-weight: 600;
    border: 2px solid blue;
    /* width: 40%; */
}

ul {
    display: flex;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
    list-style-type: none;
    gap: 12px;
    border: 2px solid red;
    /* text-align: right; */
    /* flex: 1; */
}

.nav-links {
    /* width: 40%; */
}

.nav-links a {
    text-decoration: none;
    color: #f9faf8;
}

.nav-links a:hover {
    color: #cecece;
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid magenta;
    /* min-width: 70%; */
    margin: 60px 0;
    /* flex-grow: 0; */
    /* margin-right: auto; */
    /* gap: 12px; */
    flex-wrap: wrap;
    flex: 0 0 70%;
    

}

.text-left {
    display: flex;
    width: 40%;
    flex-wrap: wrap;
    border: 2px solid green;
    gap: 12px;
    /* margin-left: auto; */

}

.image-right {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55%;
    /* flex-grow: 1; */
    background-color: #cecece;
    /* width: 300px; */
    height: 100%;
    /* margin: 0 auto; */
    /* flex-grow: 1; */
    /* margin-right: auto; */
}