* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.container {
    display: flex;
    flex-wrap: wrap;
    background-color: #1F2937;
    color: #e5e7eb;
    width: 100%;
    border: 2px solid chartreuse;
    justify-content: center;
    padding: 12px;
}

nav, .hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid salmon;
    flex: 0 0 70%;
    padding: 8px;
}

.logo {
    font-size: 24px;
    font-weight: 600;
    border: 2px solid blue;
    color: #f9faf8;
}

ul {
    display: flex;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
    list-style-type: none;
    gap: 12px;
    border: 2px solid red;
}

.nav-links a {
    text-decoration: none;
    color: #e5e7eb;
}

.nav-links a:hover {
    color: #cecece;
}

.hero {
    border: 2px solid magenta;
    margin: 80px 0;
    flex-wrap: wrap;
}

.text-left {
    display: flex;
    width: 40%;
    flex-wrap: wrap;
    border: 2px solid green;
    font-size: 18px;
}

.text-left h1 {
    font-size: 48px;
    font-weight: 800;
    color: #f9faf8;
    line-height: 1.25em;
}

.image-right {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    background-color: #757985;
    height: 100%;
}

button {
    margin: 12px 0;
    padding: 10px 32px 8px 32px;
    font-weight: bold;
    background-color: #3882f6;
    border: none;
    border-radius: 8px;
    font-size: 18px;
}

button a {
    text-decoration: none;
    color: #f9faf8;
}

button:hover {
    background-color: #2a78f5;
}